# 01 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02 Import data

In [3]:
#path to Data folder in Instacart file
path = r'C:\Users\erhil\OneDrive\Career Foundry Program\Immersion Data Analytics Course\A4 - Python Fundamentals for Data Analysts\02-2022 Instacart Basket Analysis\02 Data'

In [4]:
#import most updated orders products merged 2 data
df_ords_prods_merge=pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merged_2.pkl'))

In [5]:
# rename merged, cleaned, amended dataset & only call the first million rows.
df=df_ords_prods_merge[:1000000]

In [22]:
df.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time

In [7]:
df.shape

(1000000, 16)

# 03 Grouping Data Lesson

### only grouping/no action

In [8]:
df.groupby('product_name')

### grouping w single aggregation

In [10]:
#this is the average user order number grouped by dept id
#this is the general format for both single and multiple aggregations
#add other aggregate computations by keeping them inside the brackets (to index those aggregations)
df.groupby('department_id').agg({'user_order_number': ['mean']})

              user_order_number
                           mean
department_id
4                     18.825780
7                     17.472355
13                    17.993423
14                    19.246334
16                    19.463012
17                    11.294069
19                    19.305237
20                    17.599636

In [11]:
#quick notation to aggregate a single value, not as pretty
df.groupby('department_id')['user_order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: user_order_number, dtype: float64

In [17]:
#to understand what average/mean is being computed 
df.describe()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,939915.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.710240e+06,101788.547547,18.731714,2.686741,13.272235,10.646367,27119.966748,6.078493,0.769933,44.407396,8.740095,7.819497
std,9.873682e+05,59011.894306,18.563841,2.053382,4.218017,8.467237,15578.819637,5.695749,0.420876,28.925073,6.419989,3.641458
min,5.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000,196.000000,1.000000,0.000000,21.000000,4.000000,1.000000
25%,8.555392e+05,50641.000000,5.000000,1.000000,10.000000,5.000000,13176.000000,2.000000,1.000000,24.000000,4.000000,6.300000
50%,1.709734e+06,101164.000000,12.000000,2.000000,13.000000,7.000000,26088.000000,4.000000,1.000000,24.000000,4.000000,9.000000
75%,2.565079e+06,152132.000000,27.000000,5.000000,16.000000,14.000000,47766.000000,8.000000,1.000000,67.000000,16.000000,10.300000
max,3.421068e+06,206209.000000,99.000000,6.000000,23.000000,30.000000,49235.000000,99.000000,1.000000,121.000000,20.000000,14.800000

### grouping w multiple aggregations

In [23]:
# performing multiple aggregations, use this format:
df.groupby('department_id').agg({'user_order_number': ['mean', 'min', 'max', 'count']})

              user_order_number
                           mean min max   count
department_id
4                     18.825780   1  99  611084
7                     17.472355   1  99   44710
13                    17.993423   1  99   22656
14                    19.246334   1  99    3751
16                    19.463012   1  99  169624
17                    11.294069   1  98    1214
19                    19.305237   1  99   38095
20                    17.599636   1  99  108866

In [25]:
#counts of customer orders grouped by user id sorted by user_id
df.groupby('user_id').agg({'user_order_number':['count']})

        user_order_number
                    count
user_id
1                      59
2                      37
3                       9
5                       1
7                       3
...                   ...
206205                  2
206206                  4
206207                 14
206208                 23
206209                  6

[124698 rows x 1 columns]

In [27]:
#counts of customer orders grouped by user id, sorted by count desc
df['user_id'].value_counts(dropna=False)

141736    297
52287     262
73042     255
75805     253
149680    243
         ...
64191       1
76397       1
76413       1
76440       1
164565      1
Name: user_id, Length: 124698, dtype: int64

In [29]:
#create new column w groupby and returning a max-value
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['user_order_number'].transform(np.max)

In [32]:
df_ords_prods_merge.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,10

In [38]:
#undoing limit on viewing a certain number of rows
pd.options.display.max_rows = None

In [44]:
#run and sort first 50 records
df_ords_prods_merge.sort_values(
    by=['user_id','user_order_number']).head(50)

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10
35791,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,regularly busy,regularly busy time,10
51726,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,regularly busy,regularly busy time,10
58202,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,regularly busy,regularly busy time,10
60725,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,regularly busy,regularly busy time,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
51727,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,least busy,regularly busy time,10
58203,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,least busy,regularly busy time,10
61939,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117,19,3.0,Low-range product,least busy,regularly busy time,10
63885,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,least busy,regularly busy time,10
443335,2398795,1,2,3,7,15.0,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,least busy,regularly busy time,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
51728,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,least busy,regularly busy time,10
61940,473747,1,3,3,12,21.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,least busy,regularly busy time,10
447086,473747,1,3,3,12,21.0,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,least busy,regularly busy time,10
453282,473747,1,3,3,12,21.0,30450,5,0,Creamy Almond Butter,88,13,3.2,Low-range product,least busy,regularly busy time,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10
51729,2254736,1,4,4,7,29.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,least busy,regularly busy time,10
60726,2254736,1,4,4,7,29.0,26405,5,1,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,least busy,regularly busy time,10
61941,2254736,1,4,4,7,29.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,least busy,regularly busy time,10
447087,2254736,1,4,4,7,29.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,least busy,regularly busy time,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,10
51730,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,least busy,busiest time,10
61942,431534,1,5,4,15,28.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,least busy,busiest time,10
63886,431534,1,5,4,15,28.0,13176,8,1,Bag of Organic Bananas,24,4,10.3,Mid-range product,least busy,busiest time,10
447088,431534,1,5,4,15,28.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,least busy,busiest time,10
474772,431534,1,5,4,15,28.0,10326,5,0,Organic Fuji Apples,24,4,2.7,Low-range product,least busy,busiest time,10
480298,431534,1,5,4,15,28.0,17122,6,0,Honeycrisp Apples,24,4,14.0,Mid-range product,least busy,busiest time,10
494178,431534,1,5,4,15,28.0,41787,7,0,Bartlett Pears,24,4,5.0,Low-range product,least busy,busiest time,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10
51731,3367565,1,6,2,7,19.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,regularly busy,regularly busy time,10
61943,3367565,1,6,2,7,19.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,regularly busy,regularly busy time,10
447089,3367565,1,6,2,7,19.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,regularly busy,regularly busy time,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,10
51732,550135,1,7,1,9,20.0,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,busiest day,regularly busy time,10
61944,550135,1,7,1,9,20.0,10258,2,1,Pistachios,117,19,3.0,Low-range product,busiest day,regularly busy time,10
443336,550135,1,7,1,9,20.0,13032,5,1,Cinnamon Toast Crunch,121,14,4.0,Low-range product,busiest day,regularly busy time,10
447090,550135,1,7,1,9,20.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,busiest day,regularly busy time,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,10
51733,3108588,1,8,1,14,14.0,12427,1,1,Original Beef Jerky,23,19,4.4,Low-range product,busiest day,busiest time,10
61945,3108588,1,8,1,14,14.0,10258,3,1,Pistachios,117,19,3.0,Low-range product,busiest day,busiest time,10
447091,3108588,1,8,1,14,14.0,25133,4,1,Organic String Cheese,21,16,8.6,Mid-range product,busiest day,busiest time,10
529591,3108588,1,8,1,14,14.0,46149,5,0,Zero Calorie Cola,77,7,13.4,Mid-range product,busiest day,busiest time,10
538149,3108588,1,8,1,14,14.0,49235,6,0,Organic Half & Half,53,16,1.8,Low-range product,busiest day,busiest time,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,10
51734,2295261,1,9,1,16,0.0,12427,6,1,Original Beef Jerky,23,19,4.4,Low-range product,busiest day,regularly busy time,10
61946,2295261,1,9,1,16,0.0,10258,5,1,Pistachios,117,19,3.0,Low-range product,busiest day,regularly busy time,10
447092,2295261,1,9,1,16,0.0,25133,3,1,Organic String Cheese,21,16,8.6,Mid-range product,busiest day,regularly busy time,10
529592,2295261,1,9,1,16,0.0,46149,2,1,Zero Calorie Cola,77,7,13.4,Mid-range product,busiest day,regularly busy time,10
538150,2295261,1,9,1,16,0.0,49235,1,1,Organic Half & Half,53,16,1.8,Low-range product,busiest day,regularly busy time,10

In [47]:
#create another new column with loc() on 'max_order' variable
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'

In [48]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order']>10), 'loyalty_flag'] = 'regular customer'

In [49]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <=10, 'loyalty_flag'] = 'new customer'

In [50]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

regular customer    15876776
loyal customer      10284093
new customer         6243990
Name: loyalty_flag, dtype: int64

In [55]:
#this is to see only indicated variables of the df **must use (double) [[]]
df_ords_prods_merge[['user_id', 'loyalty_flag', 'user_order_number']].head(60)

    user_id      loyalty_flag  user_order_number
0         1      new customer                  1
1         1      new customer                  2
2         1      new customer                  3
3         1      new customer                  4
4         1      new customer                  5
5         1      new customer                  6
6         1      new customer                  7
7         1      new customer                  8
8         1      new customer                  9
9         1      new customer                 10
10       15  regular customer                 15
11       15  regular customer                 17
12       15  regular customer                 18
13       15  regular customer                 21
14       15  regular customer                 22
15       19      new customer                  2
16       19      new customer                  5
17       19      new customer                  7
18       21  regular customer                 10
19       31  regular customer                 10
20       31  regular customer                 17
21       43  regular customer                  6
22       43  regular customer                  9
23       52  regular customer                  1
24       52  regular customer                  2
25       52  regular customer                  3
26       52  regular customer                  5
27       52  regular customer                  7
28       52  regular customer                  9
29       52  regular customer                 10
30       52  regular customer                 11
31       52  regular customer                 12
32       52  regular customer                 15
33       52  regular customer                 17
34       52  regular customer                 18
35       52  regular customer                 19
36       52  regular customer                 21
37       67  regular customer                  1
38       67  regular customer                  2
39       67  regular customer                  3
40       67  regular customer                  4
41       67  regular customer                  5
42       67  regular customer                  6
43       67  regular customer                  8
44       67  regular customer                  9
45       67  regular customer                 10
46       67  regular customer                 11
47       67  regular customer                 12
48       67  regular customer                 13
49       67  regular customer                 14
50       67  regular customer                 16
51       67  regular customer                 18
52       67  regular customer                 19
53       67  regular customer                 21
54       67  regular customer                 22
55       67  regular customer                 23
56       81      new customer                  3
57       81      new customer                  5
58       82  regular customer                  1
59       82  regular customer                  3

In [61]:
#no double brackets gives raw looking data, but correct
#cannot use multiple columns in this notation
df_ords_prods_merge['days_since_prior_order'].head()

0     NaN
1    15.0
2    21.0
3    29.0
4    28.0
Name: days_since_prior_order, dtype: float64

In [62]:
df_ords_prods_merge.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10,new customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,10,new customer

In [66]:
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'df_ords_prods_merged_3.pkl'))