# 01 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02 Import data

In [2]:
#path to instacart folder
path = r'C:\Users\erhil\OneDrive\Career Foundry Program\Immersion Data Analytics Course\A4 - Python Fundamentals for Data Analysts\02-2022 Instacart Basket Analysis\02 Data'

In [3]:
# import dataframe from 4.8 lesson
df_opm = pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merged_2.pkl'))

# 03 Task Q&A

### look at dataframe

In [4]:
df_opm.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time

In [5]:
df_opm.shape

(32404859, 16)

### Q2 find the aggregated mean of the "order_number" grouped by "department_id"

In [6]:
# group by dept_id & find aggregated mean of order_number
df_opm.groupby('department_id')['user_order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: user_order_number, dtype: float64

### Q3 Analyze the result of the aggregated mean. 
#### In the full dataframe, all 21 department id's are represented
#### (as opposed to just 8 in the subset)
#### The mean values of each dept's department ids are slightly different values (more data being aggregated)

### Q4 Create loyalty flag using the transform() and loc() functions.

In [7]:
#create max_order column finding max of user_order_number grouped by user_id
df_opm['max_order']=df_opm.groupby(['user_id'])['user_order_number'].transform(np.max)

In [17]:
df_opm.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10,new customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,10,new customer

In [11]:
#create loyalty flag using loc() on max_value column
#>40
df_opm.loc[df_opm['max_order']>40,'loyalty_flag']='loyal customer'

In [12]:
#loyalty flag <=40 & >10
df_opm.loc[(df_opm['max_order']<=40) & (df_opm['max_order']>10),'loyalty_flag']='regular customer'

In [13]:
#loyalty flag <=10
df_opm.loc[df_opm['max_order']<=10, 'loyalty_flag']='new customer'

In [14]:
#check loyalty flag for frequencies
df_opm['loyalty_flag'].value_counts(dropna=False)

regular customer    15876776
loyal customer      10284093
new customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
df_opm.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10,new customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,10,new customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,10,new customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,10,new customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,10,new customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,10,new customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,10,new customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,22,regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,22,regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,22,regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,22,regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,22,regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,9,new customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,9,new customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,9,new customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,least busy,busiest time,33,regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,20,regular customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,20,regular customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,11,regular customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,11,regular customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,27,regular customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,27,regular customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,27,regular customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,27,regular customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,27,regular customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,27,regular customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,27,regular customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,27,regular customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,27,regular customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,least busy,busiest time,24,regular customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,24,regular customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,24,regular customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,24,regular customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,Mid-range product,least busy,busiest time,24,regular customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,least busy,regularly busy time,24,regular customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,24,regular customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,busiest time,24,regular customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,24,regular customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,24,regular customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,regularly busy,regularly busy time,24,regular customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,busiest time,24,regular customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,busiest day,regularly busy time,24,regular customer

### Q5 grouping by 'loyalty_flag', perform min, max, mean on 'prices'

In [18]:
df_opm.groupby('loyalty_flag').agg({'prices':['min','max','mean']})

                 prices
                    min      max       mean
loyalty_flag
loyal customer      1.0  99999.0  10.386336
new customer        1.0  99999.0  13.294670
regular customer    1.0  99999.0  12.495717

### Q6 create a spending flag for each user based on the avg price across all orders using:
#### grouping by user_id, mean prices of products < 10, then 'low spender'
#### grouping by user_id, mean prices of products >=10, then 'high spender'

In [19]:
# create average product price column
df_opm['average_product_price']=df_opm.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
#spending flag<10
df_opm.loc[df_opm['average_product_price']<10,'spending_flag']='low spender'

In [22]:
#spending flag >=10
df_opm.loc[df_opm['average_product_price']>=10,'spending_flag']='high spender'

In [23]:
# check spending flag for frequencies
df_opm['spending_flag'].value_counts(dropna = False)

low spender     31770614
high spender      634245
Name: spending_flag, dtype: int64

### Q7 create an order frequency flag for each user based on median 'days_since_prior_order' across all orders using:
#### grouping by user_id, median 'days_since_prior_order'>20, then 'non-freq customer'
#### grouping by user_id, median 'days_since_prior_order'<=20 & >10, then 'reg customer'
#### grouping by user_id, median 'days_since_prior_order'<=10, then 'freq customer'

In [24]:
#create median days since prior order column
df_opm['median_dspo']=df_opm.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
#order freq flag >20
df_opm.loc[df_opm['median_dspo']>20, 'order_freq_flag']='non-freq cust'

In [27]:
#order freq flag <=20 & >10
df_opm.loc[(df_opm['median_dspo']<=20) & (df_opm['median_dspo']>10), 'order_freq_flag']='reg cust'

In [28]:
#order freq flag <=10
df_opm.loc[df_opm['median_dspo']<=10, 'order_freq_flag']='freq cust'

In [29]:
#check order freq flag for frequencies
df_opm['order_freq_flag'].value_counts(dropna = False)

freq cust        21559853
reg cust          7208564
non-freq cust     3636437
NaN                     5
Name: order_freq_flag, dtype: int64

In [30]:
df_opm.to_pickle(os.path.join(path,'Prepared Data', 'ords_prods_merged_4.pkl'))

In [31]:
df_opm.head()

,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_product_price,spending_flag,median_dspo,order_freq_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,regularly busy,regularly busy time,10,new customer,6.367797,low spender,20.5,non-freq cust
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,least busy,regularly busy time,10,new customer,6.367797,low spender,20.5,non-freq cust
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,least busy,regularly busy time,10,new customer,6.367797,low spender,20.5,non-freq cust
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,least busy,regularly busy time,10,new customer,6.367797,low spender,20.5,non-freq cust
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,least busy,busiest time,10,new customer,6.367797,low spender,20.5,non-freq cust